#fonts
public/resources/fonts/
public/resources/admin/fonts/

#css
public/resources/css/bootstrap/
public/resources/css/pano/

#js
public/resources/js/*
!public/resources/js/switch-theme.js

#admin
public/resources/admin/*

#테마변경용 
public/resources/images/
!public/resources/images/icons_kimpo/

#unity
public/unity*